html{
    background-color: azure;
    color: a
}

h1{
    text-align: center;
}
.gr h2{
    border-radius:5px;
    background-color: coral;
    color:black;
    text-align: center;
    padding: 5px
}